// @import '../sass/base';

.footer {
    position: fixed;
    bottom: 0;
    background-color: var(--color-grey-dark-1);
    color: var(--color-grey-light-1);
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}