// @import '../sass/_layout.scss';

.eventfoto-card-area { // layout is in layout scss


    li {
        list-style-type: none;
        overflow: hidden;
        width: 100%;
        height: 100%;
        position: relative;

        .hovereventCard {
            position: absolute;
            // background-color: var(--color-grey-dark-1);
            z-index: 2;
            width: 100%;
            height: 100%;
            color: var(--color-grey-light-1);
            display: none;
            justify-content: center;
            align-items: center;
            font-weight: bolder;
        }
        &:hover .hovereventCard {
            display: flex; 
        }
        img {
            transition: .2s all;
        }
        &:hover img{
            -webkit-filter: brightness(.5);
            filter: brightness(.5);
        }
    }
}

.card {
    padding-top: 10px;
    background-color: var(--color-grey-light-1);
    border: 1px solid var(--color-grey-dark-1);
    border-radius: 5px;
    color: var(--color-grey-light-1);
    text-align: left;
    height: 330px;
    width: 230px;
    position: relative;
    overflow: hidden;

}
