//  @import '../sass/base';

.header ul {
    display: flex;
    column-gap: 30px;
    flex: 1;

    li {
        list-style: none;

        a {
            text-decoration: none;
            color: var(--color-primary);
        }

        &:hover {
            
            a {
              color: var(--color-grey-dark-1);
            }
        }
    }
}