.content-intro {
    color: var(--color-grey-light-1);
    background-color: var(--color-primary);
    margin: 0px auto 40px auto !important;
    border-radius: 0px 0px 5px 5px !important;
    position: relative;

    .jaazmeyn {
      font-size: 3rem;
      text-transform: uppercase;
      letter-spacing: 30px;
      font-weight: lighter;
      line-height: 3rem;
      display: block;
      text-align: center;
      margin: 77px auto 38px auto;
      // padding: 40px;
      color: var(--color-grey-light-1);
    }

    &-wrapper{
        padding: 40px;
        justify-content: space-evenly;
        position: relative;
        width: 100%;

        .intro-text {
          display: inline-block;
          z-index: 3;
          width: 100%;

          & > * {
            display: block;
          }

          &__first {
            font-size: 4rem;
            font-weight: bolder;
            letter-spacing: 5px;
          }

          &__second {
            letter-spacing: 2px;
            font-size: 2rem;
            text-transform: uppercase;
            font-weight: bolder;
            line-height: 3.5rem;
            padding: 15px 0;
          }

          &__third {
            font-size: 2rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: lighter;
            line-height: 3rem;
            margin: 20px 0;
          }
        }
        .intro-text__small {
          font-size: 1.5rem;
          width: 70%;
          display: inline-block;
          margin: 20px auto;

          .me {
            border-radius: 90px;
            background-image: src('../assets/me.png');
            background-size: cover;
            width: 300px;
            height: 300px;
          }
        }

        .intro-Img {
            z-index: 3;
            width: 40% ;
            position: absolute;
            right: 0;
            top: 0;
            padding: inherit;
        }
        #Layer_1 {
          fill: var(--color-grey-dark);
        }
    }
}