@import '../sass/base';
@import '../sass/layout';


    .content-toggle {
      color: var(--color-grey-dark-1);
      background-color: var(--color-grey-dark-1);
      // transition: all 0.5s ease-in;

    }
    .toggle-stripe:not(:last-child) {
      margin-bottom: 20px;
    }

    .toggle-stripe {
      box-shadow: 1px 1px 5px 0.1px black;
      top: 0;
      // width: 751px;
      background-color: var(--color-grey-dark-1);
      border: 2px solid var(--color-primary);
      border-radius: 5px;
      position: relative;
      // transition: all 0.5s ease-in;

    
      .opener {
        // border: 2px solid var(--color-primary);
        // border-radius: 5px;
        opacity: 1;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        width: 100%;
        // transition: all 0.5s ease-in;

        
        .codesymbol {
          transition: all 0.1s ease-in;
          // transform: rotate(180deg);
          margin: auto 20px;
          color: white;
          height: 100%;
          width: 20px;
          
        }
  
        .p {
          font-size: 30px;
          font-weight: bold;
          letter-spacing: 10px;
          color:var(--color-primary);
          right: 10px;
          position: relative;
          width: 100%;
          user-select: none;
        }
  
        &:hover {
          background-color:var(--color-primary);
          cursor: pointer;
          transition: all 0.5s ease-in;

  
          p {
              color: var(--color-grey-light-1);
            }
        }
  
        p {
          padding: 17px 0 17px 28px;
          text-transform: uppercase;
          font-size: 18px;
          letter-spacing: 0.18px;
        }
      }

      .active-stripe-opener {
        background-color:var(--color-primary);
        
      .p {
          color: var(--color-grey-light-1);
        }

        .codesymbol {
          transform: rotate(90deg);
          transition: all 0.5s ease-in;
        }
      }

      .opener-content {
        width: 100%;
        z-index: 0;
        display: none;
        transition: all 0.5s ease-in;

  
        // @media (max-width: var(--mobileMaxWidth)) {
        // }
  
        &.active {
          display: block;
          position: relative;
          background-color: var(--color-grey-light-1);
          transition: all 0.5s ease-in;

          .tabs {
            width: 100%;
            position: relative;
            display: flex;
            flex-direction: row;
            background-color: var(--color-primary);
            // color: var(--color-grey-dark-1);
            
          }
        
        .cathegoryTab {
            // flex: 1 0 30%;
            cursor: pointer;
            border: 4px;
            background-color: var(--color-primary);
            text-align: center;
            width: 100px;
            height:100px;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            position: relative;
            justify-content: center;
             
            &:hover {
              box-shadow: var(--inner-shaddow);

              .tab-text{
                color: var(--color-grey-light-1);
              }

              .tab-icon svg {
                fill: var(--color-grey-light-1);
              }
            }

            &.activer {
                // box-shadow: inset 0.01px 3px 6px 0.1px #333333;
                background-color: var(--color-grey-light-1);
                transition: all 0.5s ease-in;

                &:hover {
                  .tab-text{
                    color: var(--color-grey-dark-1);
                  }
    
                  .tab-icon svg {
                    fill: var(--color-grey-dark-1);
                  }
                }
            }
          
            .tab-icon {
                display: block;
                color: var(--color-grey-dark-1);;

                svg {
                  width: 30px;
                  height: 30px;
                  fill: currentColor;
                }
            }
            .tab-text {
              color: var(--color-grey-dark-1);
            }
      
        }
        

      }
    }
  }